<h1>Galleries</h1>

<%= link_to 'New', new_admin_gallery_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
  </tr>

  <% @galleries.each do |gallery| %>
    <tr>
      <td><%= gallery.title %></td>
      <td><%= image_tag(gallery.image_url.to_s) %></td>
      <td><%= link_to 'Show', admin_gallery_path(gallery) %></td>
      <td><%= link_to 'Edit', edit_admin_gallery_path(gallery) %></td>
      <td><%= link_to 'Delete', admin_gallery_path(gallery), :method => :delete %></td>
    </tr>
  <% end %>
</table>

