<div class="container-fluid">
    <h1>Add Gallery item</h1>
    <div>
        <%= form_for :gallery, url:  admin_galleries_path do |f| %>
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :image %>
                <%= f.file_field :image %>
            </div>
                <%= f.submit 'Save item', class: 'btn btn-primary' %>
                <%= link_to 'Back', admin_galleries_path, class: "btn btn-primary" %>
            <p>
            </p>
        <% end %>
    </div>
</div>
