<div class="container-fluid">
    <h1>Edit Player</h1>
    <div>
        <%= form_for @player, url:  admin_player_path do |p| %>
            <div class="form-group">
                <%= p.label :first_name %>
                <%= p.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= p.label :last_name %>
                <%= p.text_field :last_name, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= p.label :image %>
                <%= p.file_field :image %>
            </div>
                <%= p.submit 'Save player', class: 'btn btn-primary' %>
                <%= link_to 'Back', admin_players_path, class: "btn btn-primary" %>
            <p>
            </p>
        <% end %>
    </div>
</div>
