<h1>Players</h1>

<%= link_to 'New', new_admin_player_path %>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td>
      <td><%= link_to 'Show', admin_player_path(player) %></td>
      <td><%= link_to 'Edit', edit_admin_player_path(player) %></td>
      <td><%= link_to 'Delete', admin_player_path(player), :method => :delete %></td>
    </tr>
  <% end %>
</table>

