<div class="container-fluid">
    <h1>Add Attachment</h1>
    <div>
        <%= form_for :attachment, url:  admin_attachments_path do |f| %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            <% if params.has_key?(:game_id) %>
                <%= f.hidden_field :game_id, class: 'form-control' %>
            <% else %>
                <div class="form-group">
                    <%= collection_select(:attachment, :game_id, Game.all, :id, :name) %>
                </div>
            <% end %>
            <div class="form-group">
                <%= f.label :image %>
                <%= f.file_field :image %>
            </div>
                <%= f.submit 'Save item', class: 'btn btn-primary' %>
                <%= link_to 'Back', admin_attachments_path, class: "btn btn-primary" %>
            <p>
            </p>
        <% end %>
    </div>
</div>
