<div class="stats-tabs under-triangle">
    <div class="container">
        <div class="col-md-12">
            <h2>Klassement</h2>
            <p>
                <strong>KGDP4H - reguliere competitie</strong>
            </p>
            </br>
            <table class="table table-bordered klassement">
                <tbody>
                    <tr>
                        <th>Ranking</th>
                        <th class="left">Ploeg</th>
                        <th class="">GS</th>
                        <th class="hidden-xs">W</th>
                        <th class="hidden-xs">V</th>
                        <th class="hidden-xs">G</th>
                        <th class="hidden-xs">+</th>
                        <th class="hidden-xs">-</th>
                        <th>Totaal</th>
                    </tr>

                    <% @statistics.each_with_index do |statistic, i| %>
                        <tr>
                            <td class="right"><%= i+1%></td>
                            <td class="left"><%= statistic.name %></td>
                            <td class=""><%= statistic.games %></td>
                            <td class="hidden-xs"><%= statistic.wins %></td>
                            <td class="hidden-xs"><%= statistic.losses %></td>
                            <td class="hidden-xs"><%= statistic.draws %></td>
                            <td class="hidden-xs"><%= statistic.points %></td>
                            <td class="hidden-xs"><%= statistic.goalsFor %></td>
                            <td><%= statistic.goalsAgainst %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <% if !@games.empty? %>
            <h2>Matchen</h2>
            </br>
            <table class="table table-bordered klassement">
                <tbody>
                    <% @games.each do |game| %>
                        <tr>
                            <td class="right" width="35%" valign="middle"><%= game.homeTeam %></td>
                            <td class="middle" width="20%" valign="middle"><%= game.score %></td>
                            <td class="left" width="35%" valign="middle"><%= game.awayTeam %></td>
                            <td class="left" width="10%" valign="middle"><%= link_to 'View', game_path(game) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>
