<div class="container-fluid">
    <h1>Games</h1>

    <%= link_to 'New', new_admin_game_path, class: "btn btn-primary" %>
    <table class="table table-striped">
      <tr>
        <th>HomeTeam</th>
        <th>Score</th>
        <th>AwayTeam</th>
        <th>Actions</th>
      </tr>

      <% @games.each do |game| %>
        <tr>
          <td><%= game.homeTeam %></td>
          <td><%= game.score %></td>
          <td><%= game.awayTeam %></td>
          <td>
            <%= link_to 'Show', admin_game_path(game) %>
            <%= link_to 'Add Attachment', new_admin_attachment_path(:game_id => game.id) %>
            <%= link_to 'Edit', edit_admin_game_path(game) %>
            <%= link_to 'Delete', admin_game_path(game), :method => :delete %>
          </td>
        </tr>
      <% end %>
    </table>
</div>
