<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
<div class="container-fluid">
    <h1>Add Game</h1>
    <div>
        <%= form_for :game, url:  admin_games_path do |f| %>
            <div class="form-group">
                <%= f.label :homeTeam %>
                <%= f.text_field :homeTeam, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :score %>
                <%= f.text_field :score, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :awayTeam %>
                <%= f.text_field :awayTeam, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control' %>
            </div>
                <%= f.submit 'Save game', class: 'btn btn-primary' %>
                <%= link_to 'Back', admin_games_path, class: "btn btn-primary" %>
            <p>
            </p>
        <% end %>
    </div>
</div>
