<div class="container under-triangle">
  <h1>
    Kalender
  </h1>
  <%= month_calendar events: @meetings do |date, meetings| %>
    <%= date.day %>
    <% meetings.each do |meeting| %>
    <div class="calendar-hover-item">
      <div>
        <%= meeting.name %>
      </div>
      <div>
        <%= meeting.location %>
      </div>
      <div>
        <%= meeting.start_time.strftime("%I:%M %p") %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
