<% unless @game.nil? %>
    <div>
        <div class="container text-center">
            </br>
            <h3>Recentste match</h3>
            <%= @game.homeTeam %> - <%= @game.awayTeam %>
            </br>
            <%= link_to 'Bekijk', game_path(@game) %>
            </br>
            </br>
        </div>
    </div>
<% end %>
<div class="our-players">
    <div class="container">
        <h3>Spelers</h3>
        <div class="row">
            <% @players.each do |player| %>
                <div class="col-md-4 trainer-grid-text">
                    <div class="ch-item ch-img-1" style="background-image: url(<%= player.image_url.to_s %>)">
                        <div class="ch-info">
                            <h3><%= player.first_name + ' ' + player.last_name %></h3>
                        </div>
                   </div>
                    <p></p>
                </div>
            <% end %>
        </div>
    </div>
</div>
<% unless @statistic.nil? %>
    <div class="stats-tabs">
        <div class="container">
            <h3>Statistieken</h3>
            <div class="col-md-6 pd stats">
                <h4>Seizoen 2016-2017</h4>
                <div class="border-text">
                    <h5>Gewonnen</h5>
                </div>
                <div class="progress mr">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= (@statistic.wins.to_f / @statistic.games.to_f * 100) %>" aria-valuemin="0" aria-valuemax="<%= @statistic.games.to_f %>" style="width: 66%">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div class="border-text">
                    <h5>Gelijk</h5>
                </div>
                <div class="progress mr">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= @statistic.draws.to_f / @statistic.games.to_f * 100 %>" aria-valuemin="0" aria-valuemax="<%= @statistic.games.to_f %>" style="width:16%">
                    <span class="sr-only"></span>
                  </div>
                </div>
                <div class="border-text">
                    <h5>Verloren</h5>
                </div>
                <div class="progress mr">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= @statistic.losses.to_f / @statistic.games.to_f * 100 %>" aria-valuemin="0" aria-valuemax="<%= @statistic.games.to_f %>" style="width: 16%">
                    <span class="sr-only"></span>
                  </div>
                </div>        
            </div>
            <div class="col-md-6 pd tabs">
                <img class="dv_logo" src="images/Devaldo_Rojo.png" align="center">
            <div class="clearfix"></div>
        </div>
    </div>
<% end %>
