<ul>
    <li>
        <%= link_to 'Dashboard', admin_path %>
    </li>
    <li>
        <%= link_to 'Players', admin_players_path %>
    </li>
    <li>
        <%= link_to 'Gallery', admin_galleries_path %>
    </li>
    <li>
        <%= link_to 'Games', admin_games_path %>
    </li>
    <li>
        <%= link_to 'Attachments', admin_attachments_path %>
    </li>
</ul>
<ul>
    <li>
        <%= link_to 'Logout', admin_logout_path, :method => :delete %>
    </li>
</ul>
