<!DOCTYPE html>
<html>
  <head>
    <title>DevaldoRojo</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="title" content="Home | Devaldo Rojo">
    <meta name="description" content="Gentse voetbal ploeg met veel potentieel">
    <meta property="og:title" content="Home | Devaldo Rojo">
    <meta property="og:description" content="Gentse voetbal ploeg met veel potentieel">
    <meta property="og:image" content="images/Devaldo_Rojo.png">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="google-site-verification" content="Gyip2zEmNFsNSDfORs2_jKJSvSlahulooMgAcOEtNFc" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110180268-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110180268-1');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2452181299930122",
        enable_page_level_ads: true
      });
    </script>

  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
  <footer class="footer js-footer">
    <%= render 'layouts/footer' %>
  </footer>
</html>
